
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4 p-3 shadow-lg rounded">
      <h2>Password Generator</h2>
      
        <div class="mb-3">
          <label class="form-label fw-bold" for="length">Length</label>
          <input (input)="getLength($event)" class="form-control" />
        </div>
        <div class="form-check">
          <label class="form-check-label fw-bold" for="letters">Use Letters</label>
          <input (change)="getLetters()" class="form-check-input" type="checkbox" />
        </div>
        <div class="form-check">
          <label class="form-check-label fw-bold" for="numbers">Use Numbers</label>
          <input (change)="getNumbers()" class="form-check-input" type="checkbox" />
        </div>
        <div class="form-check">  
          <label class="form-check-label fw-bold" for="symbols">Use Symbols</label>
          <input (change)="getSymbols()" class="form-check-input" type="checkbox" />
        </div>
        <button type="buttom" [disabled]="!(length && (useLetters || useNumbers || useSymbols))" (click)="generatePassword()" class="btn btn-primary col-12 my-3">Generate!</button>
        <div class="mb-3 text-center" *ngIf="password">
          <label class="form-label fw-bold text-light fs-3" for="password">Your Password</label>
          <input class="form-control" [value]="password" />
        </div>
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>
